.table1 tr{
    background-color: rgb(64, 88, 87);
    border: 3px solid rgb(104, 98, 98);
    font-weight: normal;
    text-align: center;
    color: white;
}

.table-head{
  background-color: rgb(0, 0, 0);
}


