<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class=topic>
            <h4>สำนักทะเบียนและประมวลผล</h4>
        </div>
        <ul class="nav-botton">
            <li>
                <a routerLinkActive="active" routerLink="/add-book">สร้างใบคำร้อง</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/books-list">จัดการเอกสาร</a>
            </li>   


        </ul>
        <div class="menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</body>
</html>

<router-outlet></router-outlet> 